<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ft.dao.UserMapper">
	<select id="findAllUser" resultType="com.ft.entity.User">
		select * from t_user
	</select>

	<select id="findOne" parameterType="User" resultType="User">

		SELECT user_id,user_num,username,password,active
		FROM t_user t
		WHERE  t.active != '0'

		and (t.user_num = #{usernum} or t.username = #{usernum})

		and  t.password = #{password}


	</select>
</mapper>  